<ul class="links">
  {%- if site.author.email %}<li><a href="mailto:{{ site.author.email }}">Email</a></li>{% endif -%}
  {%- if site.author.scholar != "" %}<li><a href="{{ site.author.scholar }}">Google Scholar</a></li>{% endif -%}
  {%- if site.author.github %}<li><a href="https://github.com/{{ site.author.github }}">GitHub</a></li>{% endif -%}
  {%- if site.author.linkedin != "" %}<li><a href="{{ site.author.linkedin }}">LinkedIn</a></li>{% endif -%}
  {%- if site.author.orcid != "" %}<li><a href="https://orcid.org/{{ site.author.orcid }}">ORCID</a></li>{% endif -%}
</ul>
